

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#myContent {
  position: relative;
  z-index: 0;
}

body {
  position: relative;
  background-color: #000;
  overflow-x: hidden;
  
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}



.green {
  stroke: #00FF00;
  stroke-width: 0.3px;
}



/* General Styles */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Header Styles */
  
  
header {
  padding: 20px 0;
  position: relative;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px ;
  transition: background-color 0.3s ease;
  
}
nav li:hover {
  background-color: #212121;

}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: rgb(153, 153, 153);
}
nav a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

nav .cta-btn {
  /* background-color: #007bff; */
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px ;
  transition: background-color 0.3s ease;
}

nav .cta-btn:hover {
  /* background-color: #0069d9; */
  background-color: #212121;
  color: white;
}

  
  /* Signup Section Styles */
  
  .signup {
    padding: 50px 0;
    position: relative;
  z-index: 1;
  }
  
  .signup h2 {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .signup form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
  
  .signup label {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .signup input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .signup button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup button:hover {
    background-color: #00FF00;
  }
  
  .signup p {
    margin-top: 20px;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
  }
  
  .signup a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup a:hover {
    text-decoration: none;
    color: #00FF00;
  }
  
/* footer section */

footer {
  
  background-image: linear-gradient(180deg, #1a1a1a 0%, #000000 100%);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  color: #d7d8df;
  font-size: 0.9rem;
  padding: 50px 0;
  text-align: center;
}

footer a {
  color: #9193a8;
  text-decoration: none;
}
footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-section {
  flex-basis: 30%;
  margin-bottom: 30px;
  text-align: left;
}

.footer-section.about {
  flex-basis: 40%;
}

.footer-section h2 {
  margin-bottom: 15px;
}

.footer-section h2:hover {
  color: #ffffff;

}

.logo-text a {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
}

.socials a {
  background-color: #eee;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  font-size: 1.5rem;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  width: 40px;
}

.socials a:hover {
  transform: translateY(-5px);
  color: #000000;
}

.footer-section.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section.links li {
  margin-bottom: 10px;
}

.footer-section.links a:hover {
  text-decoration: none;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.contact span {
  flex-basis: 50%;
}

.contact i {
  margin-right: 10px;
}

.contact-form input,
.contact-form textarea {
  background-color: #eee;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.contact-form textarea {
  height: 100px;
}

.btn {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

.btn-big {
  font-size: 1.2rem;
  padding: 15px 30px;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  margin-top: 50px;
  padding-top: 20px;
}

.footer-bottom p {
  font-size: 0.8rem;
}


/* from here */
