.body{
    margin: auto;
    padding: auto;
}nav {
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color .3s ease;
}

li a:hover {
  background-color: #ddd;
}

.active {
  background-color: #4CAF50;
  color: white;
}
.slider-container {
  width: 100%;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  width: 300%;
  animation: slide 10s infinite;
}

.slider-slide {
  flex: 1;
}

.slider-slide img {
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(3s);
  }
  100% {
    transform: translateX(-200%);
  }
}
